/*.row {
 display: table;
}

[class*="col-"] {
 float: none;
 display: table-cell;
 vertical-align: top;
}*/


.equal,. equal> div[class*='col-'] { 
 display: -webkit-box;
 display: -webkit-flex;
 display: flex;
 flex:1 0 auto;
}

